{% extends "base_generic.html" %}
{% block content %}
  <h1>Регистрация</h1>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>

        {% endfor %}
      </p>
      </br>
      {% endfor %}
    <button type="submit">Подтвердить</button>
  </form>
{% endblock %}
