html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

.main{
	/* width:100%; */
	height: auto;
	display: flex;
	}

.right-sidebar{
	flex: 0 0 auto;
	min-width: 200px;
	max-width: 220px;
}

.left-sidebar{
	flex: 0 0 10%;
	min-width: 120px;
}

.content {
	/* background: rgb(100%, 100%, 100%, 0.4); */
	/* border: 2px dotted gray; */
	padding-bottom: 20px;
	padding-left: 15px;
	flex: 75%;
}

.content h1{
	text-align: center;
}

.weather{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
  padding: 1em;
  border-radius: 10px;
  background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

i {
font-family: fontawesome !important;
}
.left-sidebar a, .right-sidebar a{
	color: DarkSlateGray;
	text-decoration: none;
}

.left-sidebar a:hover, .right-sidebar a:hover{
	color: Gainsboro;
	text-decoration: underline;
}
.online{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
  padding: 1em;
  border-radius: 10px;
  background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}
.sbx-google {
  display: inline-block;
  position: relative;

  height: 30px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
}

.sbx-google__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-google__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  background: #FFFFFF;
  padding: 0;
  padding-right: 77px;
  padding-left: 11px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-google__input::-webkit-search-decoration, .sbx-google__input::-webkit-search-cancel-button, .sbx-google__input::-webkit-search-results-button, .sbx-google__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-google__input:hover {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.sbx-google__input:focus, .sbx-google__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #3E82F7;
  background: #FFFFFF;
}

.sbx-google__input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.sbx-google__input::-moz-placeholder {
  color: #AAAAAA;
}

.sbx-google__input:-ms-input-placeholder {
  color: #AAAAAA;
}

.sbx-google__input::placeholder {
  color: #AAAAAA;
}

.sbx-google__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 3px 3px 0;
	background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
	box-shadow:
	 inset rgba(0,0,0,.6) 0 -3px 8px,
	 inset rgba(252,255,255,.7) 0 3px 8px,
	 rgba(0,0,0,.8) 0 3px 8px -3px;
  padding: 0;
  width: 49px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-google__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-google__submit:hover, .sbx-google__submit:active {
  cursor: pointer;
}

.sbx-google__submit:focus {
  outline: 0;
}

.sbx-google__submit svg {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  fill: #FFFFFF;
}

.sbx-google__reset {
  display: none;
  position: absolute;
  top: 10px;
  right: 56px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-google__reset:focus {
  outline: 0;
}

.sbx-google__reset svg {
  display: block;
  margin: 4px;
  width: 13px;
  height: 13px;
}

.sbx-google__input:valid ~ .sbx-google__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.menu ul{list-style: none; padding: 0px; margin: 0px;border-radius: 10px;
background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
box-shadow:
 inset rgba(0,0,0,.6) 0 -3px 8px,
 inset rgba(252,255,255,.7) 0 3px 8px,
 rgba(0,0,0,.8) 0 3px 8px -3px;}
.menu li a{height: 24px;text-decoration: none;font-weight: normal;
					color: #79203C; opacity: 0.8; font-family: arial; border: 1px solid gray;
					-moz-transition: all 0.3s 0.01s ease; -o-transition: all 0.3s 0.01s ease; -webkit-transition: all 0.3s 0.01s ease; }

.menu li a:link{display: block; text-decoration: none; padding: 8px 0 0 10px;}
.menu li a:hover {color: white; background:#1C85BB; padding: 8px 0 0 10px;}

.mini-profile{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
  padding: 1em;
  border-radius: 10px;
  background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

.mini-profile img {
	padding: 5px;
	background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

.mini-profile a i {
	padding-top: 7px;}

.last-comments{
  padding: 1px 0;
  border-radius: 10px;
  background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

.last-comments h3{
	text-align: center;
}

.tail{
	padding: 2px 5px;
}

.last-comments .desc{
	width: 90%;
  /* width: 200px; */
  margin: 5px;
  padding: 10px 5px;
  box-shadow:
   inset 0 0 100px hsla(0,0%,0%,.2),
   inset 0px 1px 5px #999,
   inset 0px 2px 0px #888,
   inset 0px 3px 0px #777,
   inset 0px 4px 0px #666,
   inset 0px 5px 0px #555,
   inset 0px 6px 0px #444,
   inset 0px 7px 0px #333,
   inset 0px 8px 7px #001135;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
body {
	background-image: url(./fon2.jpg);
	padding: 0; margin: 0;
}


.new_post a{list-style: none; height:24px; width:15%; text-align: center;
background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
box-shadow:
 inset rgba(0,0,0,.6) 0 -3px 8px,
 inset rgba(252,255,255,.7) 0 3px 8px,
 rgba(0,0,0,.8) 0 3px 8px -3px;
 border-radius: 10px;
 text-decoration: none;height: 24px;color:#79203C;font-weight: normal;
	opacity: 0.8;font-family: arial;}

.new_post a:link{display: block;padding: 10px 0 0 0; width: 150px}

.new_post a:hover{color: white; background: #1C85BB}

.edit-profile{
  position: absolute;
	right: 300px;
	top: 70px;
}

.edit-photo{
	position: absolute;
	top: 110px;
	right: 300px;
}

.social{
	width: 180px;
	text-align: center;
	display: flex;
	float: left;
	position: absolute;
	padding-top: 2%;
	right: 30%;

}
.social a{
	position: relative;
	padding-right: 30px;
	margin: 20px;
}

.profile-post-title a, .profile a, .post a, .new_post .post-create a, .post-title a, .content span a, .comm-body a{
	text-decoration: none; color: #79203C;
}

.profile-post-title a:hover, .profile a:hover, .post a:hover, .post-title a:hover, .content span a:hover, .comm-body a:hover{
	text-decoration: underline; color: #2F174A;
}

.profile-detail img{
	position: absolute;
	left: 189px;
	border-radius: 10px;
	padding: 5px;

  background: MediumBlue radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
	box-shadow:
   inset rgba(0,0,0,.6) 0 -3px 8px,
   inset rgba(252,255,255,.7) 0 3px 8px,
   rgba(0,0,0,.8) 0 3px 8px -3px;
}

.name{
	position: relative;
	top: -15px;
	left: 10px;
}

.data{
	position: relative;
	left: 250px;
	line-height: 1.5;
}

.other{
	position: relative;
	left: 250px;
	padding-right: 300px;

}

.profile-detail hr{
	position: relative;
}

.profile-post{
	position: relative;
	left: 40px;
}

.post-list{
	padding-left: 35px;
}

.post-title{
	text-align: center;
	position: absolute;
	left: 187px;
	width:150px;
}

.post-create{
	position: absolute;
	right: 300px;
	top: 30px;
}

.proposed{
	position: absolute;
	top: 25px;
	left: 185px;
}

.pub_date{
	text-align: right;
	position: absolute;
	top: 105px;
	right: 250px;
}

.post-upd{
	position: absolute;
	top: 30px;
	right: 300px;
}

.post-upd a{
	text-decoration: none; color: #79203C; padding: 5px;
}

.post-upd a:hover{
	text-decoration: underline; color: #2F174A;; padding: 5px;
}

.comments{
	float: left;
}

.comm-body{
	float: right;
	padding-left: 10px;
}

.spoiler-content{
display:none;  /**скрываем блок контента спойлера**/
padding:15px 20px; /**добавляем внутренний отступ**/
border:1px solid #ccc; /**рамка блока контента спойлера**/
margin-top:5px; /**отступ сверху**/
background:#F0F0F0; /**фон блока контента спойлера**/
}
/**Стили блока оборачивающего каждый блок**/
.spoiler-block{
margin-top:10px;
width: 99%;
}
/**Стили кнопки спойлера**/
.spoiler-title {
border:1px solid #B9B9B9;
background: #ccc;/**обычный фон для браузеров, которые не поддерживают градиент**/
background:linear-gradient(#CACACA, #E8E8E8);/**градиентный фон**/
padding:10px;/**внутренний отступ**/
text-decoration:none;/**убираем подчёркивание у ссылки**/
color:#000; /**цвет текста ссылки**/
display:block; /**делаем ссылку на всю ширину**/
}

h1, h2, h4, h5, h6{
font-family: georgia, serif;
font-weight: bold;
font-style: italic;
text-align: center;
letter-spacing: -0.4pt;
word-spacing: 2.6pt;
line-height: 1.6;
}

 h3{
	 font-family: georgia, serif;
	 font-weight: bold;
	 font-style: italic;
	 letter-spacing: -0.4pt;
	 word-spacing: 2.6pt;
	 line-height: 1.6;
 }

.fa, .far, .fas, .fab{
	font-style: normal;
}
